@model IEnumerable<FormGenerator.Models.Modele_pomocnicze.UserAnswerList>

@{
    ViewData["Title"] = "Index";
    List<SelectListItem> tmp = ViewBag.List;
}

<input type="hidden" id="urlGetValueSelected" value="@Url.Action("AnswerListPost", "UserAnswerLists")" />
@Html.DropDownList("mylist", tmp, "--select here--")
<input id="Button1" type="button" value="button" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_User)
            </th>
            @foreach (var item in Model)
            {
                @foreach (var elem in item.user_answer_list)
                {

                    @foreach (var i in ViewBag.Fields)
                    {
                        @if (i.Id == elem.IdField)
                        {
                            <th>
                                @i.Name
                            </th>
                        }
                    }
                }
                break;
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_User)
                </td>
                @foreach (var elem in item.user_answer_list)
                {
                    @if (ViewBag.FormId == elem.IdForm)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => elem.Answer)
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#Button1").click(function (event) {

            event.preventDefault();

            var selCat = $("#mylist").val();
            window.location.href = '/UserAnswerLists/AnswerListPost/' + selCat;
        });
    });
</script>
