@model CreateDependencyDTO
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" />

<h1>Kreator zależności</h1>
@if (ViewBag.Error != null)
{
    <p style="color: red">@ViewBag.Error</p>
}
<form method="post" asp-action="AddFieldToRelatedListPOST">
    <label for="SuperiorFieldName">Wybierz pole, którego będzie dotyczyła zależność:</label>
    <input asp-for="@Model.SuperiorFieldName" />

    <br />

    <label for="dependencyType">Wybierz typ zależności</label>
    <select name="DependencyType" asp-for="@Model.DependencyType">
        <option selected="selected" value="FieldVisibly">Wartościowa</option>
        <option value="FieldDuplication">Ilościowa</option>
    </select><br />
             <label id="ActivationValueLabel" for="ActivationValue">Podaj wartość aktywującą zależność:</label>
    <input asp-for="@Model.ActivationValue" />
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nazwa pola</th>
                <th scope="col">Typ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RelatedFields)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Type</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <label for="CurrentFieldName">Wybierz pola zależne</label>
    <input asp-for="@Model.CurrentFieldName" name="CurrentFieldName" />
    <br />
    <button id="AddDependedField" type="submit">Dodaj Pole</button><br />
    <button type="submit" formaction="CreateDependency">Stwórz zależność</button>

    @* Hidden fields *@
    <input asp-for="@Model.AllIndependentFieldsName" hidden />
    @for (var i = 0; i < Model.RelatedFields?.Count; i++)
    {
        <input hidden asp-for="@Model.RelatedFields[i].Id" />
        <input hidden asp-for="@Model.RelatedFields[i].Name" />
        <input hidden asp-for="@Model.RelatedFields[i].Type" />
    }
    @* Hidden fields *@

</form>


<script src="~/js/AutocompleteField.js"></script>