@model IEnumerable<FormGenerator.Models.Forms>

@{
    ViewData["Title"] = "Index";
}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr {
            background-color: #8bbabb
        }

        th {
            background-color: #464159;
            color: white;
        }

        a{
            color: #424242;
            font-weight: 500;
        }
        #stworzNowyFormularz{
            color:white;
            
        }
        .table tbody tr:hover {
            background-color: #6C7B95;
        }
        td{
            color:black;
        }

    </style>


    <div>
        <button class="btn btn-danger" style="margin-bottom:10px;"><a id="stworzNowyFormularz"style=" text-decoration:none;" asp-action="Create">Stwórz nowy pusty formularz</a></button>
    </div>
<table class="table">
    <thead>
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
               Nazwa
            </th>
            <th>
                Kategoria
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_Category)
                </td>

                <td>
                    <a asp-action="EdycjaFormularza" asp-route-id="@item.Id">Dodaj/Usuń pole</a> |
                    <a asp-action="Formularz" asp-route-id="@item.Id">Wyświetl formularz</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń formularz</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>
<script>
    sessionStorage.removeItem('key');
</script>