@model IEnumerable<FormGenerator.Models.EntranceConnections>


@{
    ViewData["Title"] = "Index";
}


<style>

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #A5D6A7
    }

    th {
        background-color: #81C784;
        color: white;
    }

    a {
        color: #424242;
        font-weight: 500;
    }
</style>
<a asp-action="Index">Powrót do listy</a>
<button
  <input style=" background-color:white;
    color:#66BB6A;
    font-size:20px;
    padding: 5px 35px;
    border-radius: 8px;
    position:center;" type="button" class="btn btn-info" data-toggle="modal" data-target=".bd-example-modal-lg">Dodaj nowy formularz zależny od pola</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdField)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdForm)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdField)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdForm)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="padding:30px">
            <form asp-action="AddConnection">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="@Model.FirstOrDefault().IdForm" class="control-label">Wybierz formularz</label>
                    <select class="form-control log log-select" asp-for="@Model.FirstOrDefault().IdForm"
                            asp-items="@(new SelectList(ViewBag.listforms,"Id", "Name","id_Category"))" style="width:250px;">
                    </select>
                    <span asp-validation-for="@Model.FirstOrDefault().IdForm" class="text-danger"></span>

                </div>
                <div>
                </div>
                <div class="form-group">
                    <label hidden asp-for="@Model.FirstOrDefault().IdField" class="control-label"></label>
                    <input hidden asp-for="@Model.FirstOrDefault().IdField" class="form-control" value="@ViewBag.bag" />
                    <span hidden asp-validation-for="@Model.FirstOrDefault().IdField" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input style=" background-color:white;
            color:#66BB6A;
            font-size:20px;
            padding: 15px 35px;
            border-radius: 8px;
            position:center;" type="submit" asp-route-IdForm="@ViewBag.op" value="Stwórz" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<script>
        sessionStorage.removeItem('key');
</script>