@model TeamProject.Models.Modele_pomocnicze.NewFieldList
@{
    ViewData["Title"] = "AddNewField";
}

<style>

    * { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
 
}
input[type=text] {
 
}
input[type=submit] {
  
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

</style>


<h5>Przypisz pole do formularza</h5>

<form asp-action="AddNewField" autocomplete="off" id="myForm">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Typ</th>
                <th scope="col">Operacja</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.fields.Count != 0)
            {
                for (var i = 0; i < Model.fields.Count; i++)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@Model.fields[i].Name</td>
                        <td>@Model.fields[i].Type</td>
                        <td><a asp-route-fieldId="@Model.fields[i].Id" class="btn btn-danger">Usuń</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>


    @if (Model.fields.Count != 0)
    {
        for (var i = 0; i < Model.fields.Count; i++)
        {
            <input asp-for="@Model.fields[i].Id" hidden />
            <input asp-for="@Model.fields[i].Name" hidden />
            <input asp-for="@Model.fields[i].Type" hidden />
        }
    }
    <input asp-for="@Model.FormId" hidden />
    <input asp-for="@Model.currentId" id="idToExistField" hidden />



    <br />
    <label asp-for="@Model.currentName">Nazwa pola:</label>
    <div class="autocomplete">
        <input asp-for="@Model.currentName" class="form-control" id="autoFill" />
    </div>
    <br />
    <label asp-for="@Model.currentType">Wybierz typ:</label>
    <select asp-for="@Model.currentType" class="form-control" style="width:300px">
        <option value="">Wybierz opcję</option>
        <option value="text">Pole tekstowe</option>
        <option value="checkbox">Checkbox</option>
    </select>
    <br />
    <input type="submit" asp-action="AddToList" class="btn btn-success" id="istniejacePola" value="Przypisz istniejące pole" style="padding:5px" />

    <!-- Large modal -->
    <button type="button" class="btn btn-info" data-toggle="modal" data-target=".bd-example-modal-lg">Stwórz nowe pole i przypisz do formularza</button>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="padding:30px">
                <h3>Dodaj to tego formularza nowe pole</h3>
                <label asp-for="@Model.currentNameToCreate">Nazwa pola:</label>
                <div class="autocomplete">
                    <input asp-for="@Model.currentNameToCreate" class="form-control" id="nameToCreate" />
                </div>
                <label asp-for="@Model.currentTypeToCreate">Wybierz typ:</label>
                <select asp-for="@Model.currentTypeToCreate" class="form-control" style="width:300px">
                    <option value="">Wybierz opcję</option>
                    <option value="text">Pole tekstowe</option>
                    <option value="checkbox">Checkbox</option>
                </select>
                <input type="submit" asp-action="AddToList" class="btn btn-success" value="Stwórz" style="padding:5px" />
            </div>
        </div>
    </div>
    <br />
    <input type="button" id="zapiszZmiany" class="btn btn-primary" value="Zapisz zmiany" style="padding:5px; width:510px" />


</form>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    document.getElementById("nameToCreate").value = null;
    var saveFlag = false;
    var AllFields = [];
    var test = ["jeden", "dwa"];
    var AllFieldsJson;
     var AllFieldsName = [];
    $.ajax({
    url : "/api/FieldAPI",
    dataType : "json"
    })
        .done(res => AllFieldsJson = res);
    
    //po tym jak pobierzemy z API
    $(document).ajaxComplete(function () {

    for (let i = 0; i < AllFieldsJson.length; i++) {
        AllFields.push(AllFieldsJson[i]);
    }
        //skrypt z podpowiadanie
        for (let i = 0; i < AllFields.length; i++) {
            if (AllFields[i].name != null)
                AllFieldsName.push(AllFields[i].name);
        }
        autocomplete(document.getElementById("autoFill"), AllFields);

        $('#myForm').submit(function() {

            console.log(document.getElementById("nameToCreate").value)
            if (saveFlag == true) {
                return true;
            }
            saveFlag = false;
            if (document.getElementById("nameToCreate").value !="") {
                return true;
            }

            if (AllFieldsName.includes(document.getElementById("autoFill").value)) {
                return true;
            }
            else {
                alert("Nie znaleziono takiego pola. Stwórz je!");
                document.getElementById("autoFill").value = null;
                document.getElementById("idToExistField").value = parseInt("0");
                return false;
            }

        });

    })


    document.getElementById("autoFill").addEventListener("change", function () {
        document.getElementById("nameToCreate").value = null;
    })

    document.getElementById("zapiszZmiany").addEventListener("click", function () {
        saveFlag = true;
        document.getElementById("myForm").submit();
    })

    
    function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
          /*check if the item starts with the same letters as the text field value:*/
          if (arr[i].name.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
              /*make the matching letters bold:*/
              b.innerHTML = "<strong>" + arr[i].name.substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i].name.substr(val.length);
              /*insert a input field that will hold the current array item's value:*/
              b.innerHTML += "<input type='hidden' value='" + arr[i].name + "' id='" + arr[i].id+"'>";
              console.log(arr[i].id);
              document.getElementById("idToExistField").value = parseInt(arr[i].id);
              document.getElementById("nameToCreate").value = null;
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
                  inp.value = this.getElementsByTagName("input")[0].value;
                  document.getElementById("idToExistField").value = parseInt(this.getElementsByTagName("input")[0].id);
                  document.getElementById("nameToCreate").value = null;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
