@model TeamProject.Models.Modele_pomocnicze.NewFieldList
@{
    ViewData["Title"] = "AddNewField";
}

<h5>Przypisz pole do formularza</h5>

<form asp-action="AddNewField">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Typ</th>
                <th scope="col">Operacja</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.fields.Count != 0)
            {
                for (var i = 0; i < Model.fields.Count; i++)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@Model.fields[i].Name</td>
                        <td>@Model.fields[i].Type</td>
                        <td><a asp-route-fieldId="@Model.fields[i].Id" class="btn btn-danger">Usuń</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>

    
    @if (Model.fields.Count != 0)
    {
        for (var i = 0; i < Model.fields.Count; i++)
        {
        <input asp-for="@Model.fields[i].Id" hidden />
        <input asp-for="@Model.fields[i].Name" hidden />
        <input asp-for="@Model.fields[i].Type" hidden />
        }
    }
    <input asp-for="@Model.FormId" hidden />



    <br />
    <label asp-for="@Model.currentName">Nazwa pola</label>
    <input asp-for="@Model.currentName" class="form-control" style="width:300px;" />
    <br />
    <label asp-for="@Model.currentType"></label>
    <select asp-for="@Model.currentType" class="form-control" style="width:300px;">
        <option value="">Wybierz opcję</option>
        <option value="text">Pole tekstowe</option>
        <option value="checkbox">Checkbox</option>
    </select>
    <br />
    <input type="submit" asp-action="AddToList" class="btn btn-success" value="Dodaj pole" />
    <br />
    <input type="submit" class="btn btn-primary" value="Zapisz zmiany" />
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
